.left {
	width: 40%;
	height: 800px;
	float: left;
}

h2 {
	width: 250px;
	height: 50px;
	margin: 20px auto;
	padding: auto;
}

.leftcontent {
	background-color: #eee;
	padding-left: 50px;
}


.list {
  display: none;
  background-color: #eee;
}

.leftcontent td {
	padding-left: 50px;
	background-color: #fff;
}

.right {
	width: 58%;
	height: 800px;
	float: right;
	margin-left: 10px;
	/*
	 overflow: scroll;
	*/
}

span {
	float: right;
}

.buttom {
	width: 100%;
	height: 15px;
	text-align: center;
	margin: auto;
	padding: auto;
	font-size: 30px;
	font-family: bold;
}

li {
	font-size: 15px;
	margin-top: 10px;
	width: 120px; 
	list-style-type: none;
}

.content {	
	display: none;
}

.content-on {	
	display: block;
}

button {
	margin: 50px 20px 10px 50px;
	height: 30px;
	font-size: 20px;
	color: white;
	border: 1px solid #3385ff;
	background-color: #3385ff; 
}

table {
	margin: 50px;
	border-collapse: collapse;
}

thead {
	text-align: center;
	background-color: #eee;
}

td {
	width: 150px;
	height: 25px;
	text-align: center;
	border: 1px solid #eee; 
}

.divbox {
	width: 300px;
	height: 230px;
	background-color: #b2b2b2;
	position: absolute;
	top: 20%;
	left: 50%;
	z-index: 2;
}

.topdiv {
	width: 200px;
	height: 20px;
	font-size: 30px;
	margin: 20px 50px;
	padding-bottom: 20px;
}

.inputtext {
	width: 250px;
	height: 20px;
	margin-left: 40px;
	margin-top: 20px;
}

#ok {
  width: 60px;
  height: 30px;
  float: left;
  background-color: #3385ff; 
  margin-left: 50px;
  margin-top: 30px;
}

#cancel {
  width: 60px;
  height: 30px;
  float: right;
  margin-right: 50px;
  margin-top: 30px;
  background-color: #3385ff;
}

.candidateaddbox {
	width: 600px;
  height: 700px;
  background-color: #b2b2b2;
  position: absolute;
  left: 40%;
  top: 30px;
}

.candidatetop {
	width: 300px;
	height: 20px;
	font-size: 30px;
	margin: 20px 200px;
	padding-bottom: 20px;
}

.inputtext1 {
	width: 500px;
	height: 20px;
	font-size: 20px;
	margin-left: 100px;
	margin-top: 50px;
}

.inputtext1 input {
	width: 300px;
	height: 30px;
}

#candidatedescribe {
	width: 300px;
	height: 200px;
}

#candidateok {
  width: 60px;
  height: 30px;
  float: left;
  background-color: #3385ff; 
  margin-left: 150px;
  margin-top: 120px;
}

#candidatecancel {
  width: 60px;
  height: 30px;
  float: right;
  margin-right: 150px;
  margin-top: 120px;
  background-color: #3385ff;
}

.inputbotton {
	width: 500px;
	height: 50px;
	margin-left: 100px;
	margin-top: 250px;
}

.inputbotton label {
	font-size: 20px;
}

#candidatecover {
	width: 100px;
	height: 100px;
  font-size: 50px;
  background-color: white;
  border: 1px dashed black;
  margin-left: 50px;
}

#votetimect td {
	width: 400px;
	height: 30px;
	border: none;
	margin-top: 100px;
}

#votetimect input {
	border: 10px solid #3385ff;
	background-color: #3385ff;
}

.kaiguan {
	font-weight: bold;
	width: 350px;
	height: 30px;
}

#votelogicct {
	margin-top: 100px;
	margin-left: 100px;
}

#votelogicct select {
	vertical-align: center;
	width: 150px;
	height: 30px;
}